
body {
  font-size: 13px;
}

/* This is as per the Nucleus 5 mockups, assuming consistency across the site */
h1#page-title,
h2#page-title,
.title-menu h1.title {
  color: #005c83;
  margin-bottom: 10px;
  margin-top: 10px;
  font: 300 26px "Gill Sans", "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}

.title-menu h1.title a {
  color: #005c83;
  font-weight: 300;
}

.title-menu h1.title a:hover { /*for firefox*/
  text-decoration: none;
}

h1#content-title {
  line-height: 1.2;
}

h2 {
  font-size: 19px;
  font-weight: bold;
}

h3, h4, h5, h6 {
  font-size: 14px;
  font-weight: bold;
}

/* footnotes */

sup {
  vertical-align: super;
  font-size: 75%;
  font-weight: normal;
  font-style: normal;
}

ol.footnote {
  font-size: 11px;
  list-style-position: outside;
  padding-left: 2.5em;
}

/* Feature-blocks */

#content .feature-block p,
#content .feature-block li {
  font-size: 12px;
}